# Evita file compilati Python
election/__pycache__/
game/__pycache__/
__pycache__/
*.pyc
*.pyo

# Esclude ambienti virtuali
venv/
env/

# Evita dipendenze installate
*.egg-info/
pip-log.txt

# Impedisce la registrazione di file di configurazione dell'IDE
.vscode/
.idea/
*.sublime-workspace

# Esclude dati sensibili o di test
.gitignore
*.log
*.db
.env
*.env
apikeys.py
simai.db
simai.db-journal
ls.txt

# Evita la cartella di build e distribuzione
dist/
build/


