/vscode.
__pycache__/

.gitignore
run.sh
generate_version.py
Timeline_Sviluppo.md
01_Cittadella.jpg
02_Muse.jpg
03_Aeterna.jpg
04_salice_argenteo.jpg
05_loggia_del_sapere.jpg
06_Porto di Levante.jpg
07_Giardini Sospesi.jpg
08_Borgo Antico.jpg
09_Solara.jpg
10_Nido del Fiume.jpg
anthalys_01.jpg
anthalys_2.jpg
SimAI_cover.jpg
